#
# MANIFEST.in
#
# Manifest template for creating the pyQode source distribution.
include MANIFEST.in

# setup, license and readme
include setup.py
include LICENSE
include *.rst
include runtests.py
include pytest.ini
include conftest.py
include .coveragerc
include pylintrc

recursive-include doc *
recursive-include examples *
recursive-include test *
